.about-content {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
  }
  