.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .nav-container {
    background-color: #f0f0f0;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* position: fixed; */
  }
  
  .nav-container ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  
  .nav-container li {
    margin: 0 10px;
  }
  
  .nav-container a {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
  }
  
  .nav-container a:hover {
    color: #007BFF;
  }
  
  .component-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }

  span{
    display: flex;
  }